@page
@model MeMoney.Pages.MemAuthorModel
@{
}
<div class="text-center darkmode">
    <nav class="side-menu side-menu-container">
        <a class="scroll" asp-area="" asp-page="/SetOffer">
            <div>
                <i class="fa-solid fa-file-invoice-dollar"></i>
            </div>
        </a>
        <a class="scroll" asp-area="" asp-page="/Index">
            <div id="rightLogo">
                <img src="~/Images/MeMoneyLogo.png" alt="MeMoney" class="logo" />
            </div>
        </a>
    </nav>
    <div class="center-box">
    </div>
</div>

<div class="set-offer-box">
    <h1>Stwórz nowego autora</h1>
    <form asp-controller="MemAuthors" asp-action="Create" method="post">
        <table>

            <tr>
                <td>Nickname :</td>
                <td><input name="NickName" type="text" /></td>
            </tr>
            <tr>
                <td>Imie :</td>
                <td><input name="Imie" type="text" /></td>
            </tr>
            <tr>
                <td>Nazwisko :</td>
                <td><input name="Nazwisko" type="text" /></td>
            </tr>
            <tr>
                <td>Nr konta bankowego :</td>
                <td><input name="BankAccountNumber" type="text" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="Submit1" type="submit" value="potwierdź" />
            </tr>
        </table>
    </form>
    <div asp-validation-summary="All" class="text-danger"></div>
</div>