@page
@model PrivacyModel
@{
    ViewData["Title"] = "Regulamin";
}
<div class="OfferBox">
    <h1>@ViewData["Title"]</h1>

    <p>Polityka strony internetowej określa zasady przetwarzania danych osobowych użytkowników strony internetowej. Zgodnie z art. 13 ust. 1 i 2 RODO informujemy, że administratorem danych osobowych jest firma XYZ z siedzibą w Warszawie przy ulicy Książęcej 1. Dane kontaktowe do inspektora ochrony danych: iod@xyz.pl. Dane osobowe będą przetwarzane w celu realizacji umowy na podstawie art. 6 ust. 1 lit. b RODO oraz w celach marketingowych na podstawie art. 6 ust. 1 lit. f RODO przez okres niezbędny do realizacji umowy oraz przez okres niezbędny do prowadzenia działań marketingowych lub do czasu wniesienia sprzeciwu wobec takiego przetwarzania danych osobowych. Podanie danych osobowych jest dobrowolne, ale niezbędne do realizacji umowy i/lub celów marketingowych.</p>
    <p>
        <ul>
            <li>§1. Zleceniodawcy ponoszą odpowiedzialność za treść publikowanych ofert i nie posiadają możliwości ich modyfikacji.</li>
            <li>§2. Zleceniodawcy nie są uprawnieni do wycofania zlecenia przed upływem terminu jego ważności. Po upływie tego terminu oferta ulega automatycznemu przedłużeniu, jednakże zleceniodawca może w każdej chwili odwołać zlecenie.</li>
            <li>§3. Zleceniobiorcy oświadczają, że posiadają odpowiednie prawa autorskie do realizacji zleceń wynikających z ogłoszeń i że nie naruszają praw autorskich osób trzecich.</li>
            <li>§4. Zleceniodawca oraz zleceniobiorca zobowiązują się do podania prawdziwych danych osobowych.</li>
            <li>§5. Obowiązuje zasada, że pierwszeństwo w otrzymaniu nagrody za zlecenie mają osoby, które jako pierwsze zgłosiły swoje prace. W przypadku braku wystarczających środków na wypłatę nagród dla wszystkich uprawnionych, nagrody otrzymują osoby, które zgłosiły swoje prace jako pierwsze, a ostatnia osoba może otrzymać niepełną nagrodę.</li>
            <li>§6. Strona internetowa ma obowiązek dokonania płatności w ciągu jednego miesiąca od daty zgłoszenia.</li>
            <li>§7. Zakazuje się kopiowania regulaminu tej platformy przez każdego użytkownika (z wyłączeniem właścicieli platformy)</li>
        </ul>
    </p>
</div>