@page
@model MeMoney.Pages.SetOfferModel
@{
    ViewData["Title"] = "Składanie ofert";
}
<div class="darkmode">
    <nav class="side-menu side-menu-container">
        <a class="scroll" asp-area="" asp-page="/ViewOffers">
            <div>
                <i class="fa-solid fa-hand-holding-dollar"></i>
            </div>
        </a>
        <a class="scroll" asp-area="" asp-page="/Index">
            <div id="rightLogo">
                <img src="~/Images/MeMoneyLogo.png" alt="MeMoney" class="logo" />
            </div>
        </a>
    </nav>
    <div class="set-offer-box">
        <h1>Stwórz ofertę</h1>
        <form asp-controller="Offers" asp-action="Create" method="post">
            <input name="__RequestVerificationToken" type="hidden" value="" /> <!-- To jest wymagane dla [ValidateAntiForgeryToken] -->
            <table>
                <tr>
                    <td>Id firmy :</td>
                    <td><input name="CompanyIdCompany1" type="number" /></td>
                </tr>
                <tr>
                    <td>Podstawowa płaca :</td>
                    <td><input name="BasicSalary" type="number" /></td>
                </tr>
                <tr>
                    <td>Dodatkowa płaca :</td>
                    <td><input name="AdditionalSalary" type="number" /></td>
                </tr>
                <tr>
                    <td>Ważne od :</td>
                    <td><input name="ValidFrom" type="datetime-local" /></td>
                </tr>
                <tr>
                    <td>Ważne do :</td>
                    <td><input name="ValidUntil" type="datetime-local" /></td>
                </tr>
                <tr>
                    <td>Warunki :</td>
                    <td><input name="Condition" type="text" /></td>
                </tr>
                <tr>
                    <td>Warunki dodatkowe :</td>
                    <td><input name="AdditionalCondition" type="text" /></td>
                </tr>
                <tr>
                    <td>Czy zostało już opłacone :</td>
                    <td><input name="IfPaid" type="checkbox" value="true" /></td>
                </tr>
                <tr>
                    <td>Suma wynagrodzeń :</td>
                    <td><input name="MaximalSalary1" type="number" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input id="Submit1" type="submit" value="potwierdź" /></td>
                </tr>
            </table>
        </form>

        <div asp-validation-summary="All" class="text-danger"></div>
    </div>


</div>
