@page
@model MeMoney.Pages.SetOfferModel
@{
    ViewData["Title"] = "Składanie ofert";
}
<div class="text-center darkmode">
    <nav class="side-menu side-menu-container">
        <a class="scroll" asp-area="" asp-page="/ViewOffers">
            <div>
                <i class="fa-solid fa-hand-holding-dollar"></i>
            </div>
        </a>
        <a class="scroll" asp-area="" asp-page="/Index">
            <div id="rightLogo">
                <img src="~/Images/MeMoneyLogo.png" alt="MeMoney" class="logo" />
            </div>
        </a>
    </nav>
    <div class="center-box">

    </div>
</div>
