@page
@model MeMoney.Pages.ViewOffersModel
@{
    ViewData["Title"] = "Memiarskie oferty";
}

<div class="text-center darkmode">
    <nav class="side-menu side-menu-container">
        <a class="scroll" asp-area="" asp-page="/SetOffer">
            <div>
                <i class="fa-solid fa-file-invoice-dollar"></i>
            </div>
        </a>
    </nav>
    <div class="center-box">
    </div>
</div>

<div class="OffersContainer">
    <div class="OfferBox">
        <a>Nazwa Firmy: @Model.companyName</a>
    </div>
</div>

<!--
<div class="teniefajne">
    <div class="lewica">

    </div>
    <div class="prawica">

    </div>
</div>-->
