@page
@model MeMoney.Pages.ViewMemsForOffertModel

<div class="OffersContainer">
    @for (int i = Model.numOfMems ; i > 0; i--)
    {
        <div class="OfferBox">
            <img src=@Model.LinkOfMem() alt=@i.ToString()/>
        </div>
    }
</div>
